<style type="text/css">
  
  h1{
    text-align: center;
    font-size: 50px;
  }

  /*navbar*/
  .navbar {
    margin-bottom: 0;
      z-index: 9999;
      line-height: 1.42857143 !important;
      background-color: #18f;
    border: 0;
      font-size: 16px !important;
        letter-spacing: 4px;
        border-radius: 0;
        font-family: Montserrat, sans-serif;
    }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
    font-weight: bolder !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #18f !important;
    background-color: #fff !important;
    font-weight: bold;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }

  /*comapny name*/
  .jumbotron{
    background-color: #012345;
    color: white;
    font-family: all;
    font-size: 90px;
  }
  #whole{
    width: 90%;
    background-color: rgb(0,0,0,0.2);
    color: white;
    padding: 2% 5% 5% 5%;
    font-size: 30px;
    font-family: all;
  }

  /*SERVICES*/
  .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
      padding: 6%;

      text-align: center;
      color: white;
      background-color: #18f;
      height: 200px;
      font-size: 60px;
    }
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9999);
  }

  .column {
      float: left;
      width: 25%;
      padding: 0 45px;
  }

  .row {margin: 0 -5px;}

  .row:after {
      content: "";
    display: table;
    clear: both;
  }

  .fa {font-size:60px;}

  /* Responsive columns */
  @media screen and (max-width: 600px) {
  .column {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }

  /*DONATE*/
  .panel {
    color: #000;
    text-align: center;
  }
  .panel:hover{
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.99999);
  }
  .panel-heading{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
  .panel-footer{
    padding: 5px 5px 5px 5px;
  }

  /*login*/
  .login-flip{
    background-color: transparent;
    perspective: 1000px;
    height: 300px;
    width: 100%;
  }

  .login-flip-inner{
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;

  }
  .login-flip:hover .login-flip-inner{
    transform:  rotateY(180deg);
  }

  .login-flip-front, .login-flip-back{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }

  .login-flip-front{
    background-color: #0a5;
    z-index: 2;
    padding-top: 15%;
  }
  .login-flip-back{
    height: 100%;
    width: 100%;
    background-color: #17f;
    transform: rotateY(180deg);
    padding-top: 35%;
    z-index: 1;
  }

  /*contact us*/
  #contact{
    font-weight: bolder;
    font-size: 20px;
    background-color: #012345;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
  }

</style>
